/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap');

body {
  margin: 0;
  /* Font family is now managed by Material-UI theme */
  /* Background color is now managed by Material-UI theme */
  /* Text color is now managed by Material-UI theme */
}

/* Remove other redundant styles as they are now handled by the Material-UI theme */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
